<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    
    <div class="container">
        <div class="jumbotron">
                <h3>Details of This Name </h3>
                <br>
                <h5>Full Name :- {{names.first_name}} {{names.last_name}} </h5>
                
            <span class="label label">Email :- </span>
            {{names.email}} <br>
            <span class="label label">Phone :- </span>
                {{names.phone}}
</div>
</div>
</body>
</html>
<br>