<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    

    <nav class="navbar navbar-light navbar-dark" style="background-color: #F5B041 ;">
        <div class="col-sm-2"> 
        <li class="nav nav-tabs">
                <a class="navbar-brand" href="#">CRUD Project</a>
        </li>
    </div>
    {% if user.is_authenticated %}
    <div class="nav nav-tabs col-sm-4">
        <ul class="nav-item active">
            <a class="nav-link" href="addname">POST NEW NAME</a>
        </ul>
            <ul class="nav-item active">
          <a class="nav-link" href="namelist">NAMES LIST</a>
        </ul>
    </div>
    <div class="nav nav-tabs col-sm-3">
        <ul class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
        </ul>
        <ul class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </ul>
    </div>
    {% else %}
    <div class="nav nav-tabs col-sm-3">
    <ul class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </ul>
    <ul class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
    </ul>
</div> 
    {% endif %}
         
    </nav>
    <br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}     
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>